{% extends "DestinyFinalBundle::layout.html.twig" %}
{% block description %}Le Portail de Fulgrim{% endblock %}
{% block title %}Destiny 2{% endblock %}
{% block pageContent %}
    <h1>This is the admin.</h1>
    <a href="{{ path('guide_new') }}"><h2>Ajouter un guide</h2></a>
    <a href="#"><h2>Ajouter un screenshot</h2></a>
{% endblock %}
